<%- include('../../partials/_admin-start.ejs') %>

    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1 class="h2">Products</h1>
        <a href="/admin/products/create" class="btn btn-success"><i class="fas fa-plus"></i> Create</a>
    </div>

    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th style="width: 140px;">Image</th>
                <th>Name</th>
                <th style="width: 200px;">Categories</th>
                <th style="width: 200px;"></th>
            </tr>
        </thead>
        <tbody>
            <% products.forEach(product => { %>
                <tr>
                    <td class="p-0"><img src="/static/uploads/<%= product.image %>" alt="" class="img-fluid"></td>
                    <td><%= product.name %></td>
                    <td>
                        <ul>
                            <% product.categories.forEach(pc => { %>
                                <li>
                                    <%= pc.name %>
                                </li>
                            <% }) %>
                        </ul>
                    </td>
                    <td>
                        <a href="/admin/products/<%= product._id %>/update" class="btn btn-warning btn-sm"><i class="fas fa-edit"></i> Update</a>
                        <a class="btn btn-danger btn-sm"><i class="fa-solid fa-trash"></i> Delete</a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>

<%- include('../../partials/_admin-finish.ejs') %>